<!DOCTYPE html>
<html style="font-size: 62.5%">

<head>
  <link rel="manifest" href="manifest.json" />
  <link rel="stylesheet" href="styles.css" />
  <meta name="theme-color" content="#17181d" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Primary Meta Tags -->
  <title>Planning Poker | Scrum Planning</title>
  <meta name="title" content="Planning Poker | Scrum Planning">
  <meta name="description" content="Planning poker is an online app to get consensus-based estimation.">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://planning-poker.shashi.dev">
  <meta property="og:title" content="Planning Poker | Scrum Planning">
  <meta property="og:description" content="Planning poker is an online app to get consensus-based estimation.">
  <meta property="og:image" content="https://raw.githubusercontent.com/shweshi/planning-poker/main/planning-poker.png">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://planning-poker.shashi.dev">
  <meta property="twitter:title" content="Planning Poker | Scrum Planning">
  <meta property="twitter:description" content="Planning poker is an online app to get consensus-based estimation.">
  <meta property="twitter:image"
    content="https://raw.githubusercontent.com/shweshi/planning-poker/main/planning-poker.png">
</head>

<body>
  <script src="https://unpkg.com/vue@3.4.21" defer></script>
  <script src="app.js" defer></script>

  <div v-cloak class="app__main-layout" id="app">
    <div class="app__navbar">
      <div class="app__navbar_left">
        <h1 class="glowing cursor-pointer" id="glowing-logo-text"><span class="logo-text" id="logo-text">P</span>lanning
          Poker</h1>
      </div>
      <div class="app__navbar_center">
        <div>
          <label for="role-switch" class="role-switch">
            <input type="checkbox" id="role-switch" @input="onRoleChange($event)" :checked="playerRole == 'Moderator'">
            <span></span>
          </label>
        </div>
        <div class="notification" id="notification">
          <div class="text" id="notification-text"></div>
        </div>
      </div>
      <div class="app__navbar_right text-right cursor-pointer">
        <h2 @click="onRename()">
          <img id="avatar" alt="Avatar" class="avatar pulse pulse-orange">
          {{ playerName }}
        </h2>
      </div>
    </div>
    <div class="app_main">
      <div class="app__play-table">
        <div class="app__play-table_top-cards">
          <h2 class="glowing-blue-text">Available Players</h2>
        </div>
        <div class="app__play-table_bottom-cards">
          <div class="app__table-card_layout"
            v-for="(card, index) in cards.sort((a, b) => (a.playerName > b.playerName) ? 1 : -1)">
            <div :class="
              { 
                  'app__table-card_back': card.vote && !isCardsOpen, 
                  'app__table-card_face': card.vote === null || isCardsOpen,
                  'app__table-card_open': card.vote && isCardsOpen
              }">
              <span v-if="isCardsOpen && card.vote">{{ card.vote }}</span>
            </div>
            <div class="app__table-card_player-name">{{ card.playerName }}</div>
          </div>
        </div>
        <div class="app__play-table_table">
          <button v-if="!isCardsOpen && !openDelayCounter"
            class="border-light-button app__play-table_table-button pulse pulse-blue" @click="onRevealCards()"
            :disabled="playerRole == 'Participant'">
            Reveal cards
          </button>

          <label v-if="!isCardsOpen && openDelayCounter" class="">
            <button class="app__play-table_table-button pulse pulse-blue">
              {{ openDelayCounter }}
            </button>
          </label>
          <button v-if="isCardsOpen" class="app__play-table_table-button pulse pulse-blue" @click="onStartNewVoting()"
            :disabled="playerRole == 'Participant'">
            Start new voting
          </button>
        </div>
      </div>
      <div v-if="isCardsOpen" class="app__avr-score">
        <div class="app__play-table_top-cards">
          <h6 class="glowing-blue-text">Result</h6>
        </div>

        <div class="result-container">
          <div class="summary-container">
            <ul class="summary-container">
              <li><span class="glowing" style="font-size: 2.5rem">{{ votingData.totalVotes }}</span>
                <p>Total Votes</p>
              </li>
              <li><span class="glowing-blue-text" style="font-size: 2.5rem">{{ votingData.averageVote }}</span>
                <p>Average Vote</p>
              </li>
              <li><span class="glowing-score" style="font-size: 2.5rem">{{ votingData.highestVote }}</span>
                <p>Highest Vote</p>
              </li>
              <li><span class="glowing" style="font-size: 2.5rem">{{ votingData.lowestVote }}</span>
                <p>Lowest Vote</p>
              </li>
            </ul>
          </div>
          <div>
            <ul class="players glowing-blue-text"></ul>
          </div>
        </div>
      </div>
      <div v-if="!isCardsOpen && playerRole == 'Participant'" class="app__cards-selector">
        <div class="app__play-table_top-cards">
          <h2 class="glowing-blue-text">Select your vote</h2>
        </div>
        <ul class="app__cards-selector_list">
          <li class="app__player-card" v-for="variant in variants">
            <button class="app__player-card_button" translate="no" @click="onVote(variant)"
              :class="{ 'app__player-card_button_selected': variant === vote }">
              <span><b>{{ variant }}</b></span>
            </button>

          </li>
        </ul>
        <ul class="app__cards-selector_list">
          <li class="app__player-card">
            <button v-if="!isCardsOpen && !openDelayCounter && playerRole == 'Participant' && vote != null"
              class="app__player-card_button app__player-card_clear_button" translate="no" @click="onClearVote()">
              Clear vote
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>
  <script>
    window.addEventListener('offline', () => {
      document.body.classList.toggle('offline');
    });
    window.addEventListener('online', () => {
      document.body.classList.toggle('offline');
    })

    function showVoteCloud(data, highestVote) {
      const players = document.querySelector(".players");
      const fragment = document.createDocumentFragment();
      const maxFontSize = 0.5;

      function handleResult(result, highestVote) {
        const vote = result.vote;
        const playerName = result.playerName;
        let fontSize = vote / highestVote * maxFontSize;
        fontSize = fontSize + 0.5;

        if (fontSize <= 0.5) {
          fontSize = 0.5;
        } else {
          fontSize = fontSize;
        }
        const fontSizeProperty = `${fontSize}em`;

        player = document.createElement("li");
        player.classList.add("player");
        player.innerHTML = `<p class="name__link" href="" style="font-size: ${fontSizeProperty}">${playerName} (${vote})</p>`;

        fragment.appendChild(player);
      }

      data.forEach((result) => {
        if (result.vote) {
          handleResult(result, highestVote)
        }
      });

      if (data.length > 1) {
        players.appendChild(fragment);
      }
    }
  </script>
</body>

</html>
