<!DOCTYPE html>
<html style="font-size: 62.5%">

<head>
  <link rel="manifest" href="manifest.json" />
  <link rel="stylesheet" href="styles.css" />
  <meta name="theme-color" content="#17181d" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Primary Meta Tags -->
  <title>Planning Poker | Scrum Planning</title>
  <meta name="title" content="Planning Poker | Scrum Planning">
  <meta name="description" content="Planning poker is an online app to get consensus-based estimation.">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://metatags.io/">
  <meta property="og:title" content="Planning Poker | Scrum Planning">
  <meta property="og:description" content="Planning poker is an online app to get consensus-based estimation.">
  <meta property="og:image" content="">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://metatags.io/">
  <meta property="twitter:title" content="Planning Poker | Scrum Planning">
  <meta property="twitter:description" content="Planning poker is an online app to get consensus-based estimation.">
  <meta property="twitter:image" content="">
</head>

<body>
  <script src="https://unpkg.com/vue@next" defer></script>
  <script src="assets/clipboard.min.js" defer></script>
  <script src="app.js" defer></script>

  <div v-cloak class="app__main-layout" id="app">
    <div class="app__navbar">
      <div class="app__navbar_left">
        <h1 class="glowing cursor-pointer" id="glowing-logo-text"><span class="logo-text" id="logo-text">P</span>lanning
          Poker</h1>
      </div>
      <div class="app__navbar_center">
        <div>
          <label for="role-switch" class="role-switch">
            <input type="checkbox" id="role-switch" @input="onRoleChange($event)" :checked="playerRole == 'Moderator'">
            <span></span>
          </label>
        </div>
        <div class="notification" id="notification">
          <div class="text" id="notification-text"></div>
        </div>
      </div>
      <div class="app__navbar_right text-right cursor-pointer">
        <h2 @click="onRename()">
          <img id="avatar" alt="Avatar" class="avatar pulse pulse-orange">
          {{ playerName }}
        </h2>
      </div>
    </div>
    <div class="app__play-table">
      <div>&nbsp;</div>
      <div class="app__play-table_top-cards">
        <div class="app__table-card_layout" v-for="(card, index) in cards" :class="{'hidden': index % 2}">
          <div :class="
                { 
                    'app__table-card_back': card.vote && !isCardsOpen, 
                    'app__table-card_face': card.vote === null || isCardsOpen,
                    'app__table-card_open': card.vote && isCardsOpen,
                }">
            <span v-if="isCardsOpen && card.vote">{{ card.vote }}</span>
          </div>
          <div class="app__table-card_player-name" :title="card.playerName">
            {{ card.playerName }}
          </div>
        </div>
      </div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <div class="app__play-table_table">
        <button v-if="!isCardsOpen && !openDelayCounter" class="app__play-table_table-button pulse pulse-blue"
          @click="onRevealCards()" :disabled="playerRole == 'Participant'">
          Reveal cards
        </button>

        <label v-if="!isCardsOpen && openDelayCounter" class="">
          <button class="app__play-table_table-button pulse pulse-blue">
            {{ openDelayCounter }}
          </button>
        </label>
        <button v-if="isCardsOpen" class="app__play-table_table-button pulse pulse-blue" @click="onStartNewVoting()"
          :disabled="playerRole == 'Participant'">
          Start new voting
        </button>
      </div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <div class="app__play-table_bottom-cards">
        <div class="app__table-card_layout" v-for="(card, index) in cards" :class="{'hidden': index % 2 == 0}">
          <div :class="
            { 
                'app__table-card_back': card.vote && !isCardsOpen, 
                'app__table-card_face': card.vote === null || isCardsOpen,
                'app__table-card_open': card.vote && isCardsOpen
            }">
            <span v-if="isCardsOpen && card.vote">{{ card.vote }}</span>
          </div>
          <div class="app__table-card_player-name">{{ card.playerName }}</div>
        </div>
      </div>
      <div>&nbsp;</div>
    </div>
    <div v-if="isCardsOpen" class="app__avr-score">
      <p>Average: <span class="glowing-score">{{ averageScore }}</span></p>
    </div>
    <div v-if="!isCardsOpen" class="app__cards-selector">
      <ul class="app__cards-selector_list">
        <li class="app__player-card" v-for="variant in variants">
          <button class="app__player-card_button" translate="no" @click="onVote(variant)"
            :class="{ 'app__player-card_button_selected': variant === vote }">
            <span><b>{{ variant }}</b></span>
          </button>
        </li>
      </ul>
    </div>
    <div class="footer">
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.5.1/dist/confetti.browser.min.js"></script>
  <script>
    window.addEventListener('offline', () => {
      document.body.classList.toggle('offline');
    });
    window.addEventListener('online', () => {
      document.body.classList.toggle('offline');
    })
  </script>
</body>

</html>
