:root {
  --card-solid-color: #3993ff;
  --card-background-color: #2775ca40;
  --card-outline-color: #74b3ff;
  --card-box-shadow-color: #2775ca;
  --disabled-button-background-color: #2775ca75;
  --disabled-button-border-color: #2775ca75;
  --disabled-button-color: #ffffff75;
  --button-background-color: #2569b4;
  --button-border-color: #2775ca;
  --button-color: #ffffff;
}

html,
body {
  font-family: Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #121826;
  background-size: 35px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAABcSURBVHgB7c8BEYAwDACxggxc4F8RKgYynl3iIMda656ZZ/7ui1yzgXM2IVIjUiNSI1IjUiNSI1IjUiNSI1IjUiNSI1IjUiNSI1IjUiNSI1IjUiNSI1IjUrNN5AXwWweQrakuTQAAAABJRU5ErkJggg==")
}

body.offline {
  filter: grayscale(1);
  transition: 0.5s;
}

.app__main-layout {
  /* z-index: -1; */
  animation-name: result-reveal;
  animation-duration: 2s;
}

.app__navbar {
  height: 80px;
  width: 96%;
  color: #fffef1;
}

.app__play-table-container {
  flex-grow: 1;
}

.app__play-table {
  padding-top: 3rem;
  grid-template-areas:
    "left top right"
    "left table right"
    "left bottom right";
  grid-template-columns: 8rem 1fr 8rem;
  grid-template-rows: auto 1fr auto;
  /* max-width: 100%; */
  min-height: auto;
  width: auto;
  justify-content: center;
  margin: auto;
}

.app__play-table_table {
  align-items: center;
  border-radius: 2.8rem;
  display: flex;
  grid-area: table;
  height: 16rem;
  justify-content: center;
  min-height: 16rem;
  min-width: 33.8rem;
  padding: 0 1.6rem;
  position: relative;
}

.app__cards-selector {
  height: 128px;
}

.app__player-card {
  display: inline-block;
  margin: 0 0.8rem;
  transition: all 0.1s linear;
  vertical-align: top;
  white-space: nowrap;
  box-sizing: border-box;
  outline-color: var(--card-outline-color);
}

.app__player-card:hover {
  margin: -0.2rem 0.8rem 0rem 0.8rem;
}

.app__player-card_button:hover {
  background-color: var(--card-solid-color);
  color: white;
  box-shadow: 0 0 6px 0 var(--card-box-shadow-color);
}

.app__player-card_button {
  border: 1.6px solid var(--card-solid-color);
  cursor: pointer;
  outline: 0;
  transition: all 0.09s linear;
  border-radius: 0.8rem;
  font-size: 19px;
  height: 8rem;
  width: 4.8rem;
  color: var(--card-solid-color);
  background-color: var(--card-background-color);
  box-shadow: 0 0 6px 0 var(--card-box-shadow-color);
}

.app__player-card_button_selected {
  background-color: var(--card-solid-color);
  color: #fff;
  margin: -0.8rem 0rem 0rem 0rem;
}

.app__player-card_button_selected:hover {
  background-color: var(--card-solid-color);
  color: #fff;
  margin: -0.8rem 0rem 0rem 0rem;
}

.app__player-card_clear_button {
  padding: 5px;
  height: auto;
  width: auto;
  border-radius: 25px;
}

.app__cards-selector_list {
  list-style: none;
  margin: 0;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 1.6rem;
  text-align: center;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
}

.app__play-table_top-cards,
.app__play-table_bottom-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.app__play-table_top-cards {
  padding-bottom: 1.6rem;
}

.app__play-table_table-button {
  align-items: center;
  border: 0;
  border-radius: 100px;
  cursor: pointer;
  display: inline-flex;
  font-size: 1.8rem;
  font-weight: 700;
  height: 5.6rem;
  letter-spacing: 0.02em;
  outline: 0;
  padding: 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  border: 1.6px solid var(--button-border-color);
  background-color: var(--button-background-color);
  transition: border-color 0.2s ease 0s, background-color 0.3s ease 0s;
  color: #fffef1;
  padding: 0 2.4rem;
  box-shadow: 0 0 100px 0 rgb(39 117 202 / 75%);
}

.app__play-table_table-delay-label {
  align-items: center;
  border: 0;
  border-radius: 0.8rem;
  display: inline-flex;
  font-size: 2.5rem;
  font-weight: 700;
  height: 5.6rem;
  letter-spacing: 0.02em;
  outline: 0;
  padding: 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: border-color 0.2s ease 0s, background-color 0.3s ease 0s;
  border: 0;
  color: var(--card-solid-color);
  background-color: transparent;
  padding: 0 2.4rem;
  box-shadow: 0 0 100px 0 rgb(39 117 202 / 75%);
}

.app__table-card_layout {
  padding-bottom: 15px;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 100%;
  perspective: 10rem;
  perspective-origin: bottom;
}

.app__table-card_back {
  align-items: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: var(--card-solid-color);
  background: linear-gradient(45deg,
      var(--card-solid-color) 12%,
      transparent 0,
      transparent 88%,
      var(--card-solid-color) 0),
    linear-gradient(135deg,
      transparent 37%,
      #1a7bf2 0,
      #1a7bf2 63%,
      transparent 0),
    linear-gradient(45deg,
      transparent 37%,
      var(--card-solid-color) 0,
      var(--card-solid-color) 63%,
      transparent 0),
    var(--card-outline-color);
  background-size: 17px 17px;
  border: 1px solid var(--card-solid-color);
  border-radius: 0.6rem;
  box-shadow: 0 0 6px 0 rgb(39 117 202);
  ;
  display: flex;
  height: 6rem;
  justify-content: center;
  overflow: hidden;
  width: 3.5rem;
  flex-direction: column;
}

.app__table-card_face {
  border-radius: 0.6rem;
  flex-shrink: 0;
  height: 6rem;
  width: 3.5rem;
  border: 1.6px solid var(--card-solid-color);
  line-height: 6rem;
  text-align: center;
  color: var(--card-solid-color);
  background-color: var(--card-background-color);
  font-size: 1.8rem;
  font-weight: 700;
}

.app__table-card_player-name {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  align-items: center;
  display: -webkit-box;
  display: flex;
  font-size: 1.4rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.2em;
  overflow: hidden;
  padding-top: 0.8rem;
  text-align: center;
  width: 8rem;
  color: #c1c0b4;
  text-shadow: 0 0 80px #17181d;
}

.hidden {
  display: none;
}

.app__navbar {
  text-align: center;
  display: flex;
  flex-direction: row;
  padding-top: 00px;
  width: 100%;
  max-width: 1370px;
  margin-right: auto;
  margin-left: auto;
}

.text-right {
  text-align: right;
  display: block;
}

.app__navbar_left {
  width: 16rem;
  text-align: left;
}

.app__navbar_right {
  width: 16rem;
  text-align: right;
}

.app__navbar_center {
  text-align: center;
  flex-grow: 1;
  /* display: flex; */
  justify-content: center;
  padding-top: 15px;
}

.app__new-game-btn {
  align-items: center;
  border: 0;
  border-radius: 0.8rem;
  cursor: pointer;
  display: inline-flex;
  font-size: 1.8rem;
  font-weight: 700;
  height: 5.6rem;
  letter-spacing: 0.02em;
  outline: 0;
  padding: 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.09s linear;
  background: var(--card-solid-color);
  border: 0;
  color: #fff;
  padding: 0 2.4rem;
  margin: 1rem;
}

.app__table-card_open {
  text-align: center;
  font-size: 2rem;
}

.app__avr-score {
  height: 128px;
  text-align: center;
  font-size: 3rem;
  color: #c1c0b4;
  font-weight: 700;
  animation-name: result-reveal;
  animation-duration: 2s;
}

@keyframes result-reveal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

[v-cloak] {
  display: none;
}

.app__clipboard-btn {
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.app__clipboard-btn img {
  width: 22px;
}

/**
 * Dirty hack, because we can't copy to clipboard `display: none` container 
 * content. Using `position: absolute` and `opacity: 0` instead.
 */
#app__clipboard-content {
  position: absolute;
  opacity: 0;
  top: 0px;
}

.avatar {
  vertical-align: middle;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  box-shadow: 0 0 30px 0 rgb(246 147 26 / 50%);
}

.cursor-pointer {
  cursor: pointer;
}

.glowing {
  text-shadow: 0px 0px 0px #dc851c, 0 0 50px #dc851c;
}

.glowing-score {
  color: white;
  text-shadow: 0px 0px 50px rgb(39 117 202 / 100%), 0 0 50px rgb(39 117 202 / 125%);
}

.glowing-blue-text {
  color: #fffef1;
  text-shadow: 0px 0px 50px rgb(39 117 202 / 100%), 0 0 50px rgb(39 117 202 / 125%);
}

.pulse-blue {
  --color: var(--card-solid-color);
  animation: pulse 1s infinite;
}

.pulse-orange {
  --color: #dc851c;
}

.pulse {
  cursor: pointer;
  box-shadow: 0 0 0 var(--color);
  animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 var(--color);
  }

  70% {
    -webkit-box-shadow: 0 0 0 10px var(--color);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 var(--color);
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 var(--color);
    box-shadow: 0 0 0 0 var(--color);
  }

  70% {
    -moz-box-shadow: 0 0 0 20px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 20px rgba(204, 169, 44, 0);
  }

  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

.logo-text {
  background-color: #dc851c;
}

.role-switch {
  position: relative;
  width: 105px;
  height: 25px;
  display: inline-block;
}

.role-switch input {
  display: none;
}

.role-switch span {
  position: absolute;
  background-color: #EEEEEE;
  border-radius: 100px;
  box-shadow: 0 0px 50px #dc851cab;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.role-switch span::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #dc851c;
  top: 5px;
  left: 5px;
  transition: .8s;
  z-index: 999;
}

.role-switch span::after {
  content: "Participant";
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 10px;
  transform: translate(-50%, -50%);
  font-weight: 600;
  color: #dc851c;
}

.role-switch input:checked+span {
  background-color: #58b299;
  box-shadow: 0 0px 50px #58b299cc;
}

.role-switch input:checked+span::before {
  transform: translateX(80px);
  background-color: #fff;
}

.role-switch input:checked+span::after {
  content: "Moderator";
  color: white;
}


.app__play-table_table-button:disabled {
  background-color: var(--disabled-button-background-color) !important;
  color: var(--disabled-button-color) !important;
  border-color: var(--disabled-button-border-color) !important;
  animation: none;
}

.logo-text.moderator {
  background-color: #58b299;
}

.glowing.moderator {
  text-shadow: 0px 0px 0px #58b299, 0 0 50px #58b299;
}

.avatar.moderator {
  --color: #58b299;
}

.notification {
  display: none;
  margin: 3rem auto;
  height: 2rem;
  width: 20rem;
  background-color: #1e2f49;
  transform-origin: right;
  -webkit-animation: fade 4s linear;
  animation: fade 4s linear;
  border: 1px solid #2569b5;
  border-radius: 25px;
  top: 5px;
}

@-webkit-keyframes fade {

  0%,
  100% {
    opacity: 0
  }

  50% {
    opacity: 1
  }
}

@keyframes fade {

  0%,
  100% {
    opacity: 0
  }

  50% {
    opacity: 1
  }
}

.text {
  padding: 0.3rem;
  font-weight: 600;
}

.result-container {
  display: grid;
  /* justify-content: space-evenly; */
}

.summary-container {
  list-style: none;
  margin: 0 auto;
  font-size: 1.5rem;
}

.players {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 960px;
  margin: auto;
  list-style: none;
  border-radius: 5px;
}

.player {
  display: flex;
  align-items: center;
  margin: 0.25rem 1rem;
}

.player__link {
  padding: 5px 5px 0;
  transition: 0.3s;
  text-decoration: none;
}

.player:nth-of-type(4n+1) .name__link {
  color: #4ed163;
}

.player:nth-of-type(4n+2) .name__link {
  color: #3a93ff
}

.player:nth-of-type(4n+3) .name__link {
  color: #ee4266;
}

.player:nth-of-type(4n+4) .name__link {
  color: #9d88f7;
}

.summary-container li {
  float: left;
  margin: 0 20px 0 0;
}

@media only screen and (max-width: 490px) {
  .summary-container {
    font-size: 1rem;
  }
}

.app_main {
  min-height: calc(100vh - 30px);
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--impact-white);
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 4px;
  background-color: var(--impact-white);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #2569b4;
  border-radius: 10px;
}
