html,
body {
  font-family: Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #17181d;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23444447' fill-opacity='0.22'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.app__main-layout {
  z-index: -1;
}

.app__navbar {
  height: 80px;
  width: 96%;
  color: #fffef1;
}

.app__play-table-container {
  flex-grow: 1;
}

.app__play-table {
  padding-top: 5rem;
  padding-top: 5rem;
  display: grid;
  grid-template-areas:
    "left top right"
    "left table right"
    "left bottom right";
  grid-template-columns: 8rem 1fr 8rem;
  grid-template-rows: auto 1fr auto;
  max-width: 100%;
  min-height: 38rem;
  width: 44rem;
  justify-content: center;
  margin: auto;
}

.app__play-table_table {
  align-items: center;
  border-radius: 2.8rem;
  display: flex;
  grid-area: table;
  height: 16rem;
  justify-content: center;
  min-height: 16rem;
  min-width: 33.8rem;
  padding: 0 1.6rem;
  position: relative;
}

.app__cards-selector {
  padding-top: 8rem;
  height: 128px;
}

.app__player-card {
  display: inline-block;
  margin: 0 0.8rem;
  transition: all 0.1s linear;
  vertical-align: top;
  white-space: nowrap;
  box-sizing: border-box;
  outline-color: #74b3ff;
}

.app__player-card:hover {
  margin: -0.2rem 0.8rem 0rem 0.8rem;
}

.app__player-card_button:hover {
  background-color: #3993ff;
  color: white;
  box-shadow: 0 0 6px 0 rgb(39 117 202 / 125%);
}

.app__player-card_button {
  border: 1.6px solid #3993ff;
  cursor: pointer;
  outline: 0;
  transition: all 0.09s linear;
  border-radius: 0.8rem;
  font-size: 19px;
  height: 8rem;
  width: 4.8rem;
  color: #3993ff;
  background-color: rgb(39 117 202 / 25%);
  box-shadow: 0 0 6px 0 rgb(39 117 202 / 125%);
}

.app__player-card_button_selected {
  background-color: #3993ff;
  color: #fff;
  margin: -0.8rem 0rem 0rem 0rem;
}

.app__player-card_button_selected:hover {
  background-color: #3993ff;
  color: #fff;
  margin: -0.8rem 0rem 0rem 0rem;
}

.app__cards-selector_list {
  list-style: none;
  margin: 0;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 1.6rem;
  text-align: center;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
}

.app__play-table_top-cards,
.app__play-table_bottom-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.app__play-table_top-cards {
  padding-bottom: 1.6rem;
}

.app__play-table_bottom-cards {
  padding-top: 5rem;
}

.app__play-table_table-button {
  align-items: center;
  border: 0;
  border-radius: 100px;
  cursor: pointer;
  display: inline-flex;
  font-size: 1.8rem;
  font-weight: 700;
  height: 5.6rem;
  letter-spacing: 0.02em;
  outline: 0;
  padding: 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  border: 1.6px solid #2775ca;
  background-color: #2569b4;
  transition: border-color 0.2s ease 0s, background-color 0.3s ease 0s;
  color: #fffef1;
  padding: 0 2.4rem;
  box-shadow: 0 0 100px 0 rgb(39 117 202 / 75%);
}

.app__play-table_table-delay-label {
  align-items: center;
  border: 0;
  border-radius: 0.8rem;
  display: inline-flex;
  font-size: 2.5rem;
  font-weight: 700;
  height: 5.6rem;
  letter-spacing: 0.02em;
  outline: 0;
  padding: 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: border-color 0.2s ease 0s, background-color 0.3s ease 0s;
  border: 0;
  color: #3993ff;
  background-color: transparent;
  padding: 0 2.4rem;
  box-shadow: 0 0 100px 0 rgb(39 117 202 / 75%);
}

.app__table-card_layout {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 100%;
  perspective: 10rem;
  perspective-origin: bottom;
}

.app__table-card_back {
  align-items: center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background: #3993ff;
  background: linear-gradient(45deg,
      #3993ff 12%,
      transparent 0,
      transparent 88%,
      #3993ff 0),
    linear-gradient(135deg,
      transparent 37%,
      #1a7bf2 0,
      #1a7bf2 63%,
      transparent 0),
    linear-gradient(45deg,
      transparent 37%,
      #3993ff 0,
      #3993ff 63%,
      transparent 0),
    #74b3ff;
  background-size: 17px 17px;
  border: 1px solid #3993ff;
  border-radius: 0.6rem;
  box-shadow: 0 0 6px 0 rgb(39 117 202);
  ;
  display: flex;
  height: 6rem;
  justify-content: center;
  overflow: hidden;
  width: 3.5rem;
  flex-direction: column;
}

.app__table-card_face {
  border-radius: 0.6rem;
  flex-shrink: 0;
  height: 6rem;
  width: 3.5rem;
  border: 1.6px solid #3993ff;
  line-height: 6rem;
  text-align: center;
  color: #3993ff;
  background-color: rgb(39 117 202 / 25%);
  font-size: 1.8rem;
  font-weight: 700;
}

.app__table-card_player-name {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  align-items: center;
  display: -webkit-box;
  display: flex;
  font-size: 1.4rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.2em;
  overflow: hidden;
  padding-top: 0.8rem;
  text-align: center;
  width: 8rem;
  color: #c1c0b4;
  text-shadow: 0 0 80px #17181d;
}

.hidden {
  display: none;
}

.app__navbar {
  text-align: center;
  display: flex;
  flex-direction: row;
  padding-top: 00px;
  width: 100%;
  max-width: 1370px;
  margin-right: auto;
  margin-left: auto;
}

.text-right {
  text-align: right;
  display: block;
}

.app__navbar_left,
.app__navbar_right {
  width: 16rem;
}

.app__navbar_center {
  text-align: center;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.app__new-game-btn {
  align-items: center;
  border: 0;
  border-radius: 0.8rem;
  cursor: pointer;
  display: inline-flex;
  font-size: 1.8rem;
  font-weight: 700;
  height: 5.6rem;
  letter-spacing: 0.02em;
  outline: 0;
  padding: 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.09s linear;
  background: #3993ff;
  border: 0;
  color: #fff;
  padding: 0 2.4rem;
  margin: 1rem;
}

.app__table-card_open {
  text-align: center;
  font-size: 2rem;
}

.app__avr-score {
  padding-top: 5rem;
  height: 128px;
  text-align: center;
  font-size: 3rem;
  color: #c1c0b4;
  font-weight: 700;
}

[v-cloak] {
  display: none;
}

.app__clipboard-btn {
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.app__clipboard-btn img {
  width: 22px;
}

/**
 * Dirty hack, because we can't copy to clipboard `display: none` container 
 * content. Using `position: absolute` and `opacity: 0` instead.
 */
#app__clipboard-content {
  position: absolute;
  opacity: 0;
  top: 0px;
}

.footer {
  color: #96958d;
  text-align: right;
  font-weight: bold;
}

.avatar {
  vertical-align: middle;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  box-shadow: 0 0 30px 0 rgb(246 147 26 / 50%);
}

.cursor-pointer {
  cursor: pointer;
}

.glowing {
  text-shadow: 0px 0px 0px #dc851c, 0 0 50px #dc851c;
}

.glowing-score {
  color: white;
  text-shadow: 0px 0px 50px rgb(39 117 202 / 100%), 0 0 50px rgb(39 117 202 / 125%);
}

.pulse-blue {
  --color: #3993ff;
  animation: pulse 1s infinite;
}

.pulse-orange {
  --color: #dc851c;
}

.pulse {
  cursor: pointer;
  box-shadow: 0 0 0 var(--color);
  animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 var(--color);
  }

  70% {
    -webkit-box-shadow: 0 0 0 10px var(--color);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 var(--color);
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 var(--color);
    box-shadow: 0 0 0 0 var(--color);
  }

  70% {
    -moz-box-shadow: 0 0 0 20px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 20px rgba(204, 169, 44, 0);
  }

  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

.logo-text {
  background-color: #dc851c;
}

.role-switch {
  position: relative;
  width: 100px;
  height: 20px;
  display: inline-block;
}

.role-switch input {
  display: none;
}

.role-switch span {
  position: absolute;
  background-color: #EEEEEE;
  border-radius: 100px;
  box-shadow: 0 0px 50px #dc851cab;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.role-switch span::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #dc851c;
  top: 5px;
  left: 5px;
  transition: .8s;
  z-index: 999;
}

.role-switch span::after {
  content: "Participant";
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 10px;
  transform: translate(-50%, -50%);
  font-weight: 600;
  color: #dc851c;
}

.role-switch input:checked+span {
  background-color: #58b299;
  box-shadow: 0 0px 50px #58b299cc;
}

.role-switch input:checked+span::before {
  transform: translateX(80px);
  background-color: #fff;
}

.role-switch input:checked+span::after {
  content: "Moderator";
  color: white;
}


.app__play-table_table-button:disabled {
  background-color: #2775ca75 !important;
  color: #ffffff75 !important;
  border-color: #2775ca75 !important;
  animation: none;
}

.logo-text.moderator {
  background-color: #58b299;
}

.glowing.moderator {
  text-shadow: 0px 0px 0px #58b299, 0 0 50px #58b299;
}

.avatar.moderator {
  --color: #58b299;
}
